h1{
    text-shadow: 2px 2px lightblue;
}
h2{
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    text-transform: uppercase;
    font-style: italic;
}
p{
    word-spacing: 15px;
    text-decoration: line-through;
    text-indent: 50px
}
a:link{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}