body{
    width:100%;
    display: flex;
    justify-content: center;
}

article {
    width:900px;
    height: 300px;
    border: 2px solid red;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
div {
    width: 300px;
    height: 150px;
    flex-grow: 1;
}

div:first-child {
    width: 55%;
    background-color: #013476;  
}
div:nth-child(2){
    width: 45%;
    background-color: #0362d2;
}
div:nth-child(3){
    background-color: #b4d2f7;
}
div:nth-child(4){
    background-color: #d5dfef;
}
div:last-child {
    background-color: #dfe1e5;
