body{
	border: 1px dotted blue;
	padding: 80px 100px 80px 100px;
}
section{
	border: 1px dotted blue;
	padding: 25px;
	box-align:  center;
}
article{
	border: 1px solid black;
	border-radius: 10px;
	width: 100px;
	height: 50px;
	margin: 0 auto;
}
#red{
	background: red;
}

#blue{
	background: blue;
}

#yellow{
	background: yellow;
}

#green{
	background: green;
}